---
import Login from '../components/Login';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Login">
	<main class="flex items-center justify-center  h-screen">
		<Login client:load/>
	</main>
</Layout>

<style>
	main {
		background-image: url(../images/background.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center
	}
</style>