---
import Layout from "../layouts/Layout.astro";
import SignUpCompo from "../components/SignUpCompo";
---

<Layout title="¡Registrate!">
    <main class="flex items-center justify-center h-[1024px]">
        <SignUpCompo client:load/>
    </main>
</Layout>

<style>
    main {
		background-image: url(../images/background.jpg);
		background-repeat: no-repeat;
		background-size: cover;
	}
</style>